body {
  font-family: 'Julee', cursive;
  background-image: url(../images/pokemon.png);
  background-repeat: repeat;
  background-size: cover;
}

.Header {
  margin: 20px;
  padding: 20px;
  font-size: 60pt;
  display: inline-flex;
  text-align: center;
  text-shadow: #0000CD 2px 0 10px;

}

.content {
  text-align: center;
  font-size: 20pt;
  text-shadow: #0000CD 2px 0 10px;
  padding-top: 100px;
  padding-bottom: 100px;
}
