body {
  font-family: 'Julee', cursive;
  background-image: url(../images/pokemon.png);
  background-repeat: repeat;
  background-size: cover;
}

.Header {
  margin: 20px;
  padding: 20px;
  font-size: 60pt;
  display: inline-flex;
  text-align: center;
  text-shadow: #0000CD 2px 0 10px;

}

.Sub-Title-Ctr {
  text-align: center;
  text-shadow: #0000CD 2px 0 10px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.Top-Row {
  text-align: center;
  text-shadow: #0000CD 2px 0 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
  
.Middle-Row {
  text-align: center;
  text-shadow: #0000CD 2px 0 10px;
  display: inline-flexbox;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Bottom-Row {
  text-align: center;
  text-shadow: #0000CD 2px 0 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}